<div class="sider_content active">
  <div class="sider-user">
    <img src="../images/png/empty-avatar.jpg" class="avatar" alt="" />
    <div class="content">
      <div class="name">
        Привет, <span class="user_name">{your_name}</span>
        <div class="online">online</div>
      </div>
    </div>
  </div>
  <ul class="sider-menu">
    <a href="./home.html" class="item" id="home">
      <i class="fa fa-tachometer"></i>
      <li>Dashboard</li>
    </a>
    <a href="./ticket_create.html" class="item" id="ticket_create">
      <i class="fa fa-tag"></i>
      <li>Создать заявку</li>
    </a>
    <a href="" class="item" id="news">
      <i class="fa fa-newspaper"></i>
      <li>Новости</li>
    </a>
    <a href="" class="item" id="tickets">
      <i class="fa fa-list-alt"></i>
      <li>Список заявок</li>
    </a>
    <a href="" class="item" id="messages">
      <i class="fa fa-message"></i>
      <li>Сообщения</li>
    </a>
    <a href="" class="item" id="staff">
      <i class="fa fa-users"></i>
      <li>Сотрудники</li>
    </a>
    <a href="" class="item" id="faq">
      <i class="fa fa-sitemap"></i>
      <li>Центр знаний</li>
    </a>
    <a href="" class="item" id="dictionary">
      <i class="fa fa-book"></i>
      <li>Блокнот</li>
    </a>
    <a href="" class="item" id="reports">
      <i class="fa fa-bar-chart"></i>
      <li>Отчёты</li>
    </a>
    <a href="" class="item" id="admin_panel">
      <i class="fa fa-shield"></i>
      <li>Админитрирование</li>
    </a>
  </ul>
</div>
